In [1]:
import pandas as pd
import numpy as np

In [4]:
series = pd.Series([7,4,2, np.nan, 6,9])

In [5]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [10]:
datas = pd.date_range('20180101', periods=6, freq='D')

In [11]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df=pd.DataFrame(np.random.randn(6, 4), index = datas, columns=list('ABCD'))

In [15]:
df

                   A         B         C         D
2018-01-01 -0.740690 -0.194465  0.082869  0.537050
2018-01-02 -1.054386 -0.261865 -0.301486  0.243416
2018-01-03  0.378926 -0.091295 -0.003436 -0.817631
2018-01-04 -0.986300 -1.279326 -0.207099  1.073317
2018-01-05 -1.041265 -0.736657  0.207292  0.802046
2018-01-06 -1.105283 -0.225702  1.116109  1.270286

In [16]:
df2 = pd.DataFrame({'A':7, 
                    'B': pd.Timestamp('20190101'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'Python'})

In [17]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [19]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
datas = pd.date_range('20230101', periods=60, freq='D')
df=pd.DataFrame(np.random.randn(60, 5), index = datas, columns=list('ABCDE'))
df

                   A         B         C         D         E
2023-01-01  0.671276  1.034062  0.867903 -0.337068  2.229045
2023-01-02 -1.057177 -0.395592  1.339352  0.029443  1.178927
2023-01-03 -0.177764  1.393204  1.643244 -1.932572 -2.112660
2023-01-04  0.086619 -2.122832 -1.475675 -0.821033  1.141202
2023-01-05 -0.315860 -1.348533 -0.300176 -0.574564  2.141129
2023-01-06  1.841245 -0.865857 -0.609425  1.268750 -1.123365
2023-01-07  0.486385  1.070908 -0.903757  1.123770  1.045679
2023-01-08  0.659821 -1.143045  0.411114 -0.422467  0.698527
2023-01-09 -1.421575  0.244003 -1.753108 -1.478578  0.969471
2023-01-10 -1.471326 -0.048308  2.789522 -1.017175  0.518586
2023-01-11 -0.685627  1.230182  1.146067 -1.429750 -0.757311
2023-01-12  0.742248  0.767344  0.266385 -1.371225 -0.953918
2023-01-13  1.175876  0.700510 -1.126573 -2.200586  1.087876
2023-01-14 -0.817799  0.449865  0.804853  1.831267  2.028524
2023-01-15  0.388346 -1.539103  1.022997  0.079034 -2.145864
2023-01-16  0.163534 -0.480572  1.974352  0.121053 -1.018341
2023-01-17  1.129110 -0.522230 -0.611071 -2.242963 -0.197811
2023-01-18 -0.996278 -0.543967  0.684491 -1.156036  0.104571
2023-01-19  0.614459 -0.620251  1.272328 -1.396419 -1.002731
2023-01-20  0.034189 -0.096498 -1.559451 -2.071470 -0.903567
2023-01-21  1.756617  1.196287 -0.507782 -0.373467  0.235744
2023-01-22 -0.720182  0.131844 -1.009166 -0.349959  1.863522
2023-01-23 -0.911194  0.407167  0.639051  0.378903 -0.945856
2023-01-24 -0.123504  0.038661 -0.399252  1.919139  0.496667
2023-01-25  1.380089 -0.091039  0.289312 -0.357194  1.459263
2023-01-26 -0.550185  0.722291  0.202040 -0.444555  0.655254
2023-01-27  0.474169  1.193653 -2.054209 -0.336456 -1.509076
2023-01-28  0.956191 -0.803482  1.030183 -0.486090  0.633566
2023-01-29  1.536641  0.059465 -0.086632 -1.108483  1.092824
2023-01-30 -0.062568 -1.437903  0.033930  0.011129 -0.018086
2023-01-31 -1.074064  0.730359  1.113810 -0.206907  1.271193
2023-02-01 -0.274166 -0.569748  1.475000  2.429250  0.934002
2023-02-02  0.442929 -1.372748 -0.433007 -0.105589  0.333871
2023-02-03 -1.809684 -0.661718 -0.139063  1.073228  0.606982
2023-02-04 -0.308439  0.328631  1.056086  1.156445  1.377506
2023-02-05 -0.634908 -0.542881  1.196311 -0.103680 -0.595613
2023-02-06  1.300532 -0.416894 -0.648211 -0.050446  0.259082
2023-02-07 -0.020226  0.232459  0.688664  0.068827  0.777682
2023-02-08 -2.072167  0.717308 -1.251224 -0.679306  0.680311
2023-02-09  0.939645 -0.506284 -0.820450  1.426279  0.597002
2023-02-10  1.158506 -0.037090  0.582582  0.627150  0.315114
2023-02-11  0.105258 -1.742027 -0.390747  0.286873 -0.248766
2023-02-12  1.103169  0.911174 -1.245480 -0.164897  0.837956
2023-02-13  0.078455  0.380008  0.589240  2.384578 -0.174924
2023-02-14  1.590978 -0.678489  1.130943  0.493116  0.262530
2023-02-15 -0.019130  0.256560  0.876476  1.672406 -1.489673
2023-02-16 -1.665425  2.293488 -0.435151 -0.936116 -0.021903
2023-02-17  0.616620  1.093148 -0.764435 -0.648372 -0.462350
2023-02-18  0.090620  0.665380  0.878132 -0.354838 -2.230665
2023-02-19 -0.332205  0.510592 -0.739126  1.231541 -1.231848
2023-02-20 -1.188846  0.493703 -1.193078 -1.100437 -0.041768
2023-02-21  0.524943 -0.987100 -2.099597 -0.134004 -1.141822
2023-02-22 -0.215459 -0.596254  0.651562  0.336993  0.829243
2023-02-23 -0.383080  1.238698 -0.661661  1.991015  0.601957
2023-02-24  0.283243 -0.342126 -1.134747 -0.206481  1.605382
2023-02-25 -0.353160 -1.050987 -0.134999 -0.261614 -0.732622
2023-02-26  0.531552  1.254203  1.252174  1.646674  1.143805
2023-02-27  0.550783 -0.162501  1.259489 -0.551163  2.529139
2023-02-28  0.968881 -1.209498  1.083137 -0.728351  0.279539
2023-03-01  1.287504  0.605724  1.788048  0.923271 -0.805945

In [21]:
df.shape
df.head(3)

                   A         B         C         D         E
2023-01-01  0.671276  1.034062  0.867903 -0.337068  2.229045
2023-01-02 -1.057177 -0.395592  1.339352  0.029443  1.178927
2023-01-03 -0.177764  1.393204  1.643244 -1.932572 -2.112660

In [22]:
df['Produto'] = df['A']*df['B']
df.head(10)

                   A         B         C         D         E   Produto
2023-01-01  0.671276  1.034062  0.867903 -0.337068  2.229045  0.694141
2023-01-02 -1.057177 -0.395592  1.339352  0.029443  1.178927  0.418210
2023-01-03 -0.177764  1.393204  1.643244 -1.932572 -2.112660 -0.247662
2023-01-04  0.086619 -2.122832 -1.475675 -0.821033  1.141202 -0.183877
2023-01-05 -0.315860 -1.348533 -0.300176 -0.574564  2.141129  0.425948
2023-01-06  1.841245 -0.865857 -0.609425  1.268750 -1.123365 -1.594255
2023-01-07  0.486385  1.070908 -0.903757  1.123770  1.045679  0.520873
2023-01-08  0.659821 -1.143045  0.411114 -0.422467  0.698527 -0.754205
2023-01-09 -1.421575  0.244003 -1.753108 -1.478578  0.969471 -0.346869
2023-01-10 -1.471326 -0.048308  2.789522 -1.017175  0.518586  0.071076

## Visualização de dados

In [23]:
df.head(5)

                   A         B         C         D         E   Produto
2023-01-01  0.671276  1.034062  0.867903 -0.337068  2.229045  0.694141
2023-01-02 -1.057177 -0.395592  1.339352  0.029443  1.178927  0.418210
2023-01-03 -0.177764  1.393204  1.643244 -1.932572 -2.112660 -0.247662
2023-01-04  0.086619 -2.122832 -1.475675 -0.821033  1.141202 -0.183877
2023-01-05 -0.315860 -1.348533 -0.300176 -0.574564  2.141129  0.425948

In [24]:
df.tail(3)

                   A         B         C         D         E   Produto
2023-02-27  0.550783 -0.162501  1.259489 -0.551163  2.529139 -0.089503
2023-02-28  0.968881 -1.209498  1.083137 -0.728351  0.279539 -1.171860
2023-03-01  1.287504  0.605724  1.788048  0.923271 -0.805945  0.779871

In [25]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01'],
              dtype='datetime64[ns]', freq='D')

In [26]:
c= df.columns
c

Index(['A', 'B', 'C', 'D', 'E', 'Produto'], dtype='object')

In [28]:
head=df.head(5)
head.to_numpy()

array([[ 0.67127603,  1.03406196,  0.867903  , -0.33706784,  2.22904474,
         0.694141  ],
       [-1.05717664, -0.39559152,  1.33935233,  0.02944271,  1.17892722,
         0.41821011],
       [-0.17776404,  1.39320435,  1.64324447, -1.93257157, -2.1126604 ,
        -0.24766163],
       [ 0.08661858, -2.12283221, -1.47567518, -0.82103256,  1.1412018 ,
        -0.18387672],
       [-0.31585994, -1.3485329 , -0.30017553, -0.574564  ,  2.14112886,
         0.42594752]])